*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    min-height: 100vh;
    background: #00040f;
    color:antiquewhite;
}

.full--container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 25px;
    height: 25px;
    background: #3fd9ffab;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #03293fab,
    0 0 50px #3fd9ffab,
    0 0 100px #3fd9ffab;
    animation: animate 15s linear infinite;
    animation-duration: calc(115s/ var(--i));
}

.bubbles span:nth-child(even){
    background: #fc0442;
    box-shadow: 0 0 0 10px #3a0210ab,
    0 0 50px #fc0442,
    0 0 100px #fc0442;
}

.bubbles .down{
    animation: down 15s linear infinite;
    animation-duration: calc(115s/ var(--i));
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

@keyframes down {
    100%{
        transform: translateY(100vh) scale(1);
    }
    
    0%{
        transform: translateY(-10vh) scale(0);
    }
}

.container{
    padding: 20px;
    background: rgb(13,13,14);
    background: linear-gradient(90deg, rgba(13,13,14,0.8911939775910365) 99%, 
    rgb(1, 1, 22) 100%, 
    rgba(0,212,255,1) 100%);
    width: 80%;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#birthdayMessage {
    color: #00d9ff;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

.hidden {
    display: none;
}

#countdown{
    font-size: 5rem;
    color:#3fd9ffab;
    font-weight: bolder;
}

@media screen and (min-width: 320px) and (max-width: 728px) {
    .bubbles span{
        width: 18px;
        height: 18px;
        margin: 0 2px;
    }

    .container{
        width: 90%;
        margin: 10px auto;
    }

    #countdown{
        font-size: 2.5rem;
    }
}